<!--The content below is only a placeholder and can be replaced.-->


<mat-drawer-container class="root">
  <mat-drawer #drawer>
    <app-search></app-search>
  </mat-drawer>
  <mat-drawer-content>
    <app-map></app-map>
    <div id="welcome">{{welcome}}</div>
    <div class="btnDiv">
      <div class="btnLogin" [style.background-image]='btnLoginBg' (click)=onLogin()></div>
      <div class="btnMapType" [style.background-image]='btnMapTypeBg' (click)=onMapLayerChange()></div>
      <div class="btnSearch" (click)=onSearch()></div>
      <div class="btnPanorama"></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ng-image-fullscreen-view
    *ngIf="images"
    [images]="images"
    [imageIndex]="imageIndex"
    [show]="showFlag"
    (close)="closeEventHandler()"></ng-image-fullscreen-view>
